{% extends "base.html" %}

{% block content %}
    <div class="Introduction">
        <h1> <u> Shopping Calculator </u> </h1>
        <p> Hello There! This little app will allow you to quickly calculate a <br> total cost, GST inclusive! 
        Also down below is a USD and AUD converter!</p>
        <hr>
    </div>

    <div class="Product">
        <h2> Product Calculator: </h2>
        <p> Product Cost: </p>
        <p> Shipping Cost: </p>
        <p> <i>GST used in the calculation is 15% </i></p>
    </div>
{% endblock %}